SELECT * FROM PERSONA
--Profesores
insert into PERSONA VALUES('46940314','Eugenia','Alegre',32000000,'euge@euge.com',1234,'1986-08-31','F','p',NULL,'2017-07-07T18:09:20.223', '2017-07-07T18:09:20.223');
insert into PERSONA VALUES('46940314','Mariano','Paciaroni',32000000,'pacha@pacha.com',1234,'1980-10-20','M','c',NULL,'2017-07-07T18:09:20.223', '2017-07-07T18:09:20.223');
insert into PERSONA VALUES('46940314','Pablo','Amurrio',32000000,'pablo@pablo.com',1234,'1980-10-20','M','c',NULL,'2017-07-07T18:09:20.223', '2017-07-07T18:09:20.223');

--clientes


insert into EMPLEADO VALUES(2,1,null,null);
insert into EMPLEADO VALUES(8,2,null,null);
insert into EMPLEADO VALUES(9,3,null,null);



insert into TIPOEMPLEADO VALUES(1,'PROFESOR');
insert into TIPOEMPLEADO VALUES(2,'RECEPCIONISTA');
insert into TIPOEMPLEADO VALUES(3,'LIMPIEZA');

insert into SOCIO VALUES(14,123,1);
insert into SOCIO VALUES(15,124,1);
insert into SOCIO VALUES(16,125,2);

insert into ESTADO VALUES(1,'ACTIVO');
insert into ESTADO VALUES(2,'INACTIVO');

insert into ACTIVIDAD VALUES(1,'PILATES',100,NULL,NULL,'LUNES');
insert into ACTIVIDAD VALUES(2,'SPINNING',100,NULL,NULL,'MARTES');
insert into ACTIVIDAD VALUES(3,'GAP',100,NULL,NULL,'MIERCOLES');

insert into EMPLEADOACTIVIDAD VALUES(2,1);
insert into EMPLEADOACTIVIDAD VALUES(2,2);
insert into EMPLEADOACTIVIDAD VALUES(2,3);

insert into SALA VALUES(100,'PIRAMIDES',1,100);
insert into SALA VALUES(200,'CATARATAS',2,50);
insert into SALA VALUES(300,'COLISEO ROMANO',3,20);


insert into ACTIVIDADSALA VALUES(1,100);
insert into ACTIVIDADSALA VALUES(2,200);
insert into ACTIVIDADSALA VALUES(3,300);

SELECT * FROM TIPOEMPLEADO
SELECT * FROM EMPLEADO
SELECT * FROM PERSONA
select * from SOCIO
select * from ACTIVIDAD
select * from EMPLEADOACTIVIDAD
SELECT * FROM SALA
SELECT * FROM ACTIVIDADSALA

SELECT * FROM PERSONA
left join EMPLEADO on PERSONA.idPersona=EMPLEADO.idPersona
WHERE PERSONA.idPersona=2

SELECT SOCIO.idPersona AS ESSOCIO,EMPLEADO.idPersona AS ESEMPLEADO, PERSONA.* FROM PERSONA
left join SOCIO on PERSONA.idPersona=SOCIO.idPersona
left join EMPLEADO on PERSONA.idPersona=EMPLEADO.idPersona
WHERE PERSONA.idPersona=2


SELECT  E.tipoEmpleado,TE.descripcion,P.Nombre,A.descripcion,A.tarifa, SALA.nombre, SALA.capacidad 
FROM EMPLEADO as E
INNER JOIN PERSONA as P ON P.idPersona=E.idPersona
INNER JOIN EMPLEADOACTIVIDAD AS EA ON EA.IdEmpleado=E.idPersona
INNER JOIN ACTIVIDAD AS A ON A.idActividad=EA.idActividad
INNER JOIN ACTIVIDADSALA AS ACS ON A.idActividad=ACS.idActividad
INNER JOIN SALA ON SALA.idSala=ACS.idSala
INNER JOIN TIPOEMPLEADO AS TE ON TE.idTipoEmpleado=E.tipoEmpleado
where TIPOEMPLEADO=1


